.input {
    width: 300px;
    border: 1px solid #333;
    padding: 3px;
}

.posts {
    margin-top: 20px;
}

.post {
    border-bottom: 1px solid #333;
    padding: 10px;
    margin-top: 20px;
}

.post pre {
    max-width: 100%;
}

.post .post-item {
    margin-top: 10px;
}

.title {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: bold;
    background:linear-gradient(transparent 60%, rgba(160, 124, 196, 0.6) 0%);
}

.name {
    font-size: 0.9rem;
}