.content {
    padding-left: 10%;
}

.page-ttl {
    margin-bottom: 20px;
}

.input {
width: 500px;
border: 1px solid #333;
padding: 5px;
}

.input.area {
    height: 200px;
}

.post-item {
    margin-top: 15px;
}

.img {
    display: flex;
    flex-wrap: wrap;
}

.img-box {
    height: 150px;
    width: 200px;
    position: relative;
}

.img-box + .img-box {
    margin-left: 10px;
}

.img-box a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.delete-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.delete-btn i {
    width: 100%;
    height: 100%;
    color: red;
    font-size: 22px;
}

#preview {
    margin-top: 10px;
}

.preview {
    width: 200px;
    height: 150px;
    object-fit: contain;
}

.preview + .preview {
    margin-left: 10px;
}

.submit {
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #333;
}