.page-ttl {
    margin-bottom: 20px;
}

.setting-content {
    padding: 0 30px;
}

.input {
width: 300px;
border: 1px solid #333;
padding: 5px;
}

.setting-item {
    margin-top: 15px;
}

.password {
    margin-top: 70px;
}